/*Rombs. Begine.*/

background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%),
linear-gradient(rgba(0,200,0,.3) 50%, transparent 50%);
background-size:30px 30px;

/*Landscape. End.*/

/*Landscape. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(23deg, rgba(0,200,0,.3) 50%, transparent 50%),
linear-gradient(0deg, rgba(200,0,0,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Landscape. End.*/

/*Squares shadow. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(0,0,200,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(0,200,0,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Squares shadow. End.*/

/*Squares shadow 2. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(0,200,0,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Squares shadow 2. End.*/
