/*Rombs. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%),
linear-gradient(rgba(0,200,0,.3) 50%, transparent 50%);
background-size:30px 30px;
/*Rombs. End.*/

/*Landscape. Begine.*/
background-color:yellow;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(23deg, rgba(0,200,0,.3) 50%, transparent 50%),
linear-gradient(0deg, rgba(200,0,0,.3) 50%, transparent 50%),
linear-gradient(30deg, rgba(200,200,200,.8) 80%, transparent 50%);
background-size:280px 280px;
/*Landscape. End.*/

/*Landscape 2. Begine.*/
background-color:#ffff99;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(23deg, rgba(0,200,0,.3) 50%, transparent 50%),
linear-gradient(0deg, rgba(200,0,0,.3) 50%, transparent 50%),
linear-gradient(30deg, rgba(200,200,200,1) 80%, transparent 50%);
background-size:80px 80px;
/*Landscape 2. End.*/

/*Squares shadow. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(0,0,200,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(0,200,0,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Squares shadow. End.*/

/*Squares shadow 2 green. Begine.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(0,200,0,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Squares shadow 2 green. End.*/

/*Squares shadow. Black&White.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(20,20,20,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Squares shadow. Black&White.*/

/*Origami.*/
background-color:white;
background-image: linear-gradient(45deg, rgba(20,0,0,.3) 50%, transparent 50%, transparent 50%),
linear-gradient(130deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(90deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(180deg, rgba(20,20,20,.3) 50%, transparent 50%),
linear-gradient(45deg, rgba(20,20,20,.3) 50%, transparent 50%);
background-size:50px 50px;
/*Origami.*/
